<dialog [id]="idModal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{ titulo }}</h3>
    <p class="py-4">{{ descripcion }}</p>
    <div class="">
      <div method="dialog">
        <div>
          <div *ngIf="option">
            <p>{{ parrafoContent }}</p>
          </div>
          <form *ngIf="!option" [formGroup]="form" (ngSubmit)="executeSend()">
            <div class="flex flex-col">
              <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Name" formControlName="name" />
              </div>
              <div>
                <label for="lastName">LastName</label>
                <input
                  type="text"
                  placeholder="LastName"
                  formControlName="lastName"
                />
              </div>
              <div>
                <label for="email">Email</label>
                <input
                  type="text"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <div>
                <label for="password">Password</label>
                <input
                  type="text"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
            </div>
            <div class="flex gap-4">
              <button class="btn btn-success" type="submit">Aceptar</button>
              <button class="btn btn-error" type="button" (click)="closeModal()">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</dialog>
